<div  fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="16px" class="content mt-32 mb-32 ml-16 mr-16">
   
    <div fxFlex.gt-sm="25%" fxFlex="100%">
        <mat-card class="basic-card">
            <div fxLayout="row">
                <div class="circle circle-success mr-12" fxLayoutAlign="center center">
                    <mat-icon>verified_user</mat-icon>
                </div>
                <div class="user-card">
                    <h5 class="card-title">$12121</h5>
                    <p class="card-description">Income</p>
                </div>
            </div>
        </mat-card>
    </div>

    <div fxFlex.gt-sm="25%" fxFlex="100%">
        <mat-card class="basic-card">
            <div fxLayout="row">
                <div class="circle circle-accent mr-12" fxLayoutAlign="center center">
                    <mat-icon>perm_identity</mat-icon>
                </div>
                <div class="user-card">
                    <h5 class="card-title">$2690</h5>
                    <p class="card-description">Users</p>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="25%" fxFlex="100%">
        <mat-card class="basic-card">
            <div fxLayout="row">
                <div class="circle circle-blue mr-12" fxLayoutAlign="center center">
                    <mat-icon>event</mat-icon>
                </div>
                <div class="user-card">
                    <h5 class="card-title">20 MArch</h5>
                    <p class="card-description">My Birthday</p>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="25%" fxFlex="100%">
        <mat-card class="basic-card">
            <div fxLayout="row">
                <div class="circle circle-warm mr-12" fxLayoutAlign="center center">
                    <mat-icon>settings</mat-icon>
                </div>
                <div class="user-card">
                    <h5 class="card-title">6490</h5>
                    <p class="card-description">Pending</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>