<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="16px" class="content mt-32 mb-32 mr-16">
    <div fxFlex.gt-sm="35%" fxFlex="100%">
        <mat-card class="basic-card">
            <div fxLayout="row">
                <div class="header">
                    <h5>Today's Schedule</h5>
                    <p>Check Out Your Daily Schedule</p>
                </div>
            </div>
            <mat-divider class="mt-12"></mat-divider>
            <div fxLayout="row" class="pt-32">
                <div class="circle-sm circle-success mr-24" fxLayoutAlign="center center">
                    <mat-icon class="mat-icon-sm">perm_identity</mat-icon>
                </div>
                <div>
                    <h5 class="title">Meeting Today <span>5 pm</span></h5>
                    <p class="description">You can write anything</p>
                </div>
            </div>
            <mat-divider class="mt-12"></mat-divider>
            <div fxLayout="row" class="pt-32">
                <div class="circle-sm circle-success mr-24" fxLayoutAlign="center center">
                    <mat-icon class="mat-icon-sm">tab</mat-icon>
                </div>
                <div>
                    <h5 class="title">Send documents to Clark</h5>
                    <p class="description">You can write anything</p>
                </div>
            </div>
            <mat-divider class="mt-12"></mat-divider>
            <div fxLayout="row" class="pt-32">
                <div class="circle-sm circle-success mr-24" fxLayoutAlign="center center">
                    <mat-icon class="mat-icon-sm">accessibility</mat-icon>
                </div>
                <div>
                    <h5 class="title">Jon Doe <span>5 pm</span></h5>
                    <p class="description">Call today with gohn doe</p>
                </div>
            </div>
            <mat-divider class="mt-12"></mat-divider>
            <div fxLayout="row" class="pt-32">
                <div class="circle-sm circle-success mr-24" fxLayoutAlign="center center">
                    <mat-icon class="mat-icon-sm">accessibility</mat-icon>
                </div>
                <div>
                    <h5 class="title">Go to doctor <span>5 miniutes ego</span></h5>
                    <p class="description">Contrary to popular belief</p>
                </div>
            </div>
            <mat-divider class="mt-12"></mat-divider>
            <div fxLayout="row" class="pt-32">
                <div class="circle-sm circle-success mr-24" fxLayoutAlign="center center">
                    <mat-icon class="mat-icon-sm">accessibility</mat-icon>
                </div>
                <div fxLayout="column" class="actor">
                    <div>
                        <h5 class="title title-color">Tiger Shrof <span>5 miniutes ego</span></h5>
                        <p class="description">Approve Meeting with Tiger</p>
                    </div>
                    <div fxLayout="row">
                        <div class="mr-8 approve">
                            <h5 class="">Approve</h5>
                        </div>
                        <div class="refuse">
                            <h5>Refuse</h5>
                        </div>
                    </div>
                    
                </div>
            </div>
            <mat-divider class="mt-12"></mat-divider>
        </mat-card>
    </div>
    
    <div fxFlex.gt-sm="75%" fxFlex="100%">
        <mat-card class="basic-card">
            <div fxLayout.gt-sm="row" fxLayoutGap="16px" fxLayoutAlign="space-between end"  class="mb-12 mt-4">
                <div fxLayout="row">
                    <div class="header">
                        <h5>Sales Overview</h5>
                        <p>Check The Monthly sales</p>
                    </div>
                </div>
                <div class="month-name pb-12">
                    <h2>January</h2>
                </div>
            </div>    
        </mat-card> 
        <div fxLayout.gt-sm="row" fxLayoutGap="16px" fxLayoutAlign="space-between end"  class="ml-16 mr-12 mt-20" ngClass.gt-sm="mb-24">
            <div fxLayout="row">
                <div class="header-month">
                    <h5>March 2017</h5>
                    <p>Report for this month</p>
                </div>
            </div>
            <div class="currency pb-12">
                <h2>$3450</h2>
            </div>
        </div>  
        <mat-card class="basic-card">
            <div fxHide.xs fxHide.sm fxLayout="row" fxLayoutAlign="space-between center">
               <div class="ml-12 mb-20" fxFlex="100%" fxLayout="row">
                    <div fxFlex="10%">
                        <div>#</div>
                    </div>
                    <div fxFlex="35%">
                        <div>Name</div>
                    </div>
                    <div fxFlex="20%">
                        <div>Status</div>
                    </div>
                    <div fxFlex="25%">
                        <div>Date</div>
                    </div>
                    <div fxFlex="10%">
                        <div>Price</div>
                    </div>
               </div>
               <mat-divider fxHide.xs fxHide.sm  class="mt-20"></mat-divider>
            </div> 
           
            <div *ngFor="let item of userData; let ind = index;" fxLayout="row" fxLayoutAlign="space-between center" class="mb-16">
                <div class="ml-12 mb-12 secondary-color" fxFlex="100%" fxLayout.gt-sm="row" fxLayout="column">
                  <div fxFlex="10%" ngClass.lt-md="mb-12">
                      <div fxHide.gt-sm>#</div>
                    <div>{{item.number}}</div>
                  </div>
                  <div fxFlex="35%" ngClass.lt-md="mb-12">
                    <div fxHide.gt-sm>Name</div>
                    <div>{{item.Name}}</div>
                  </div>
                  <div fxFlex="20%" ngClass.lt-md="mb-12">
                    <div fxHide.gt-sm>Status</div>
                    <div><span class="box-design">{{item.Status}}</span></div>
                  </div>
                  <div fxFlex="25%" ngClass.lt-md="mb-12">
                    <div fxHide.gt-sm class="mr-24">Date</div>
                    <div>{{item.Date}}</div>
                  </div>
                  <div fxFlex="10%" ngClass.lt-md="mb-12">
                    <div fxHide.gt-sm>Price</div>
                    <div class="price">{{item.Price}}</div>
                  </div>
               </div>   
               <mat-divider fxHide.xs fxHide.sm  class="mt-20"></mat-divider>
                
             </div> 
               
        </mat-card>
    </div>   
    
</div>