:host{

    @mixin header-design($color,$font-size,$line-height,$margin-bottom,
    $letter-spacing) {
        color: $color;
        font-size: $font-size;
        line-height: $line-height;
        margin-bottom: margin-bottom;
        letter-spacing: $letter-spacing;
    }

    @mixin description-design($color,$font-size,$line-height) {
        color:$color;
        line-height: $line-height;
        font-size: $font-size,;
    }

    @mixin commonApproveAndRefuse{
        padding: 6px;
        border-radius:25px;
        border: 1px solid;
        cursor: pointer;
    }
    
    .circle-sm{
        height: 30px;
        width:30px;
        border-radius: 50%;
        min-width: 30px;
        color: seagreen;

        .mat-icon-sm {
            background-repeat: no-repeat;
            display: inline-block;
            fill: currentColor;
            height: 14px;
            width: 17px;
        }
        mat-icon{
            font-size: 16px;
            color: #fff;
        }
    }
    
    .header{
        h5{
             @include header-design(#3b3b3b,16px,20px,4px,1.2px);
        }

        p {
            @include description-design(#858585,12px,22px);
        }
    }

    .title{
        @include header-design(#3b3b3b,14px,20px,3px,1.2px);
    }
    .description,.currency{
        @include description-design(#858585,12px,22px);
    }

    .title-color{
        color: rgb(20, 211, 179) !important;
    }
   
    .approve{
        @include commonApproveAndRefuse;
        color: rgb(59, 233, 204);;
        border-color: rgb(59, 233, 204);
    }
    .refuse{
        @include commonApproveAndRefuse;
        border-color: rgb(240, 74, 74);
        color:  rgb(240, 74, 74);
    }
    .month-name{
        font-size: 12px;
        color: #858585;
    }
    .currency{
        font-size: 24px;
        color: rgb(73, 89, 177);
    }

    .secondary-color{
        color: #858585;
    }
    .price{
        color: rgb(240, 74, 74);
    }
}